# Vector Configuration
data_dir: /var/lib/vector

# Sources
sources:
  http:
    type: http_server
    address: 0.0.0.0:8080         
    encoding: json
    headers:
      - "*"                   
    method: POST
    path: /webhook
    response_code: 200
    response_body: "OK"
    query_parameters:
      - s
      - idclient   

transforms:
  enriched_http:
    type: remap
    inputs:
      - http
    source: |
      # .message = encode_gzip(encode_json(.message))
      log("Raw incoming event: " + encode_json(.))
      .data = encode_base64(encode_gzip(encode_json(.)))
      . = { "data": .data }

#adding to redeploy
#adding to redeploy
sinks:
  gcp_pubsub_sink:
    type: gcp_pubsub
    enabled: ${GCP_SINK_ENABLED:-true}
    inputs: [enriched_http]
    project: "${gcp_project}"
    topic: "${pubsub_topic_name}
    encoding:
      codec: json